<div
  animate.enter="fade-in-animation"
  animate.exit="fade-out-animation"
  class="w-5/6 md:w-1/2 h-auto max-h-11/12 dark:bg-(--background-200) bg-(--background-900) rounded-xl p-6 flex flex-col justify-between items-center"
>
  <header class="w-full h-auto text-center font-bold text-xl md:text-2xl">
    {{ 'collection.addToCollection' | transloco }}
  </header>

  <div class="w-full h-0.5 rounded-full dark:bg-white bg-black mt-2"></div>

  @if (this.userCollections.length == 0) {
    <content class="w-full h-auto flex flex-col justify-center items-center">
      <app-not-found-component [headerMessage]="'collection.noCollectionsHeader' | transloco" [messageDescription]="'collection.noCollectionsDesc' | transloco"></app-not-found-component>
    </content>
  } @else {
    <content class="w-full h-56 overflow-y-scroll py-4">
    <form [formGroup]="this.form" class="w-full flex flex-row justify-start items-stretch gap-4">
      <app-checkbox-group [options]="this.userCollections" formControlName="selectedCollections"></app-checkbox-group>
    </form>
  </content>
  }
  

  <footer class="w-full h-auto flex flex-row justify-center items-center gap-4">
    <app-button-primary
      (click)="this.onFormSubmit()"
      [buttonType]="'DEFAULT'"
      [buttonContent]="'collection.finishAdd' | transloco"
      [classAddons]="'w-full'"
      class="w-full"
    ></app-button-primary>
    <app-button-primary
      (click)="this.onClose()"
      [buttonType]="'DANGER'"
      [buttonContent]="'collection.cancel' | transloco"
      [classAddons]="'w-full'"
      class="w-full"
    ></app-button-primary>
  </footer>
</div>
