@if (this.spot) {
<!-- DATA AND INFORMATION CONTAINER -->
<div
  class="text-(--text-900) py-2 px-3 flex flex-col h-auto justify-between items-start w-2/3 md:w-1/2 z-20 group-hover:pl-4 transition-all space-y-4"
>
  <div class="flex flex-col justify-center items-start grow">
    <div
      [ngClass]="this.spot.combinedRating > 8 ? 'bg-gradient-to-r from-yellow-500/100 to-yellow-100/100' : 'bg-white'"
      class="self-start w-auto mt-2 px-2 md:px-5 py-0.5 flex flex-col justify-center items-center rounded-full"
    >
      <span class="text-xs md:text-base text-black font-semibold"
        >{{ spot.combinedRating | number:'1.1-1' | zeroReview:'No reviews' }} </span
      >
    </div>
  </div>

  <div class="flex flex-col w-full justify-center items-start">
    <div class="w-auto h-auto flex flex-col justify-start items-center">
      <span class="text-sm md:text-base">{{
        this.lang == 'en' ? this.spot.categoryNameEn : this.spot.categoryNameBs
      }}</span>
      <div class="w-full bg-white h-0.5 rounded-full"></div>
    </div>
    <h3 class="text-xl md:text-2xl font-bold mt-1 whitespace-nowrap">
      {{ this.lang == 'en' ? this.spot.officialNameEn : this.spot.officialNameBs }}
    </h3>
    <span class="text-sm md:text-base whitespace-nowrap">{{
      this.lang == 'en'
        ? this.spot.smallDescriptionEn
        : this.spot.smallDescriptionBs
    }}</span>
  </div>
</div>

<!-- IMAGE AND GRADIENT BG -->
<div
  class="w-1/2 md:w-2/3 lg:w-3/4 h-auto rounded-r-2xl relative z-10"
  [style.backgroundImage]="
    this.spot.thumbnailImage ? 'url(' + this.spot.thumbnailImage.imageUrl + ')' : ''
  "
  style="background-size: cover; background-position: center; transform: scale(1)"
>
  <div
    class="absolute inset-0 rounded-r-2xl bg-gradient-to-r dark:from-black from-(--primary-200) dark:via-black/20 via-(--primary-700)/30 to-transparent"
  ></div>
</div>
}
